EXPO_TOKEN=<YOUR_TOKEN>
EXPO_HOSTNAME=<LOCAL_IP>

POSTGRES_DATABASE_URL=postgresql+psycopg://aster:aster@postgres:5432/aster
POSTGRES_PASSWORD=<SET_PWD>
POSTGRES_USER=<SET_USR>
POSTGRES_DB=aster_db
POSTGRES_PORT=5432

API_PORT=8000
REDIS_PORT=6379
